/** 
 * Hide and show subform elements depending on the selected option via CSS.
 */

 #wrapper-settings .sub-option{
  display:none;
}
 #wrapper-settings.import-pattern #import-pattern-selector{
  display:block;
}
 #wrapper-settings.import-template #import-template-selector{
  display:block;
}
#wrapper-settings.import-profile #import-profile-selector{
  display:block;
}
#wrapper-settings.import-xpath #import-xpath-selector{
  display:block;
}
#wrapper-settings.import-tokens #import-tokens-selector{
  display:block;
}
#wrapper-settings.import-passthru #import-passthru-selector{
  display:block;
}